
<ion-header class="head" style="background: url(assets/images/gradient.png) no-repeat center fixed; 
  background-size: cover;">
  <ion-navbar>
    <ion-title>{{this.post_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#fff;">
<div class="box11">
    <ion-slides pager slidesPerView = '5' style=" background: url(assets/images/gradient.png) no-repeat center fixed; 
      background-size: cover;"  >

      <ion-slide *ngFor = "let list of data_list_show">
        <ion-grid>
          <ion-row>
            <ion-col col-12 >
              <div class="part" (click) ="chat(list.user_id)">
                <div class="hexa" >
                  <div class="hex1">
                    <div class="hex2">
                      <img  (click) ="chat(list.user_id)" [src]="list.profile_photo"  width="320" height="313" />
                       <!--<img *ngIf="list.profile_photo == ''" (click) ="chat(list.user_id)" src="/assets/images/car.png" alt="" width="320" height="313" />-->
                         <!--<span style="color : #fff;">{{list.messagecount}}</span>-->
                      <span style="color : #fff;"><p style="color:white; font-size:12px;">{{list.fullname}}</p></span>
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <!--<a class="plus" (click)="pstPage()"> <ion-icon  name="add" class="adds"></ion-icon></a>-->
</div>
<ion-list>
  <div *ngFor = "let chat of chatall">
  <ion-item *ngIf = "chat.from != this.User_id">
    <ion-avatar item-start>
      <img [src]="chat.senderprofile">
    </ion-avatar>
    <h2>{{chat.sendername}}</h2>
    <p *ngIf = "chat.file == 0">{{chat.message}}</p>
     <p *ngIf = "chat.file == 1"><img [src]="chat.message"></p>
  </ion-item>
  </div>

<div *ngFor = "let chat of chatall">
    <ion-item *ngIf = "chat.from == this.User_id">
        <p class="pnk" *ngIf = "chat.file == 0">{{chat.message}}</p>
        <p class="pnk" *ngIf = "chat.file == 1"><img [src]="chat.message"></p>
    </ion-item>
</div>

</ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-input type="text" placeholder="Your Text Here" [(ngModel)] = "message"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click) = "openActionSheet()">
        <ion-icon name="attach"></ion-icon>
      </button>
      <!--<button ion-button icon-right color="royal">
        <ion-icon name="happy"></ion-icon>
      </button>-->
      <button ion-button icon-right color="royal" (click)="sendMessage(message)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>