page-forgotpw {
.scroll-content button{
        background: #52bed9 !important;
}
.toolbar-background {
    background: transparent  !important;
}

.pic{
    width: 100%;
    float: left;
    margin-bottom: 10vh;
    margin-top: 4vh;
    text-align: center;
    img{
            width: 33%;
    }
}
.toolbar-background{
    background: #3fb1ce;
  
}
 .toolbar-title{ color: #fff !important;}
 .header button{
     color:#fff !important;
 }
 .submit11{
    cursor: default;
    opacity: .4;
    // pointer-events: none;
    text-align: center;
    width: auto;
    margin: 0 auto;
    float: none;
    display: block;
}

   .item-md {
    background-color: transparent;
    padding-left: 0px;
}

.logo_edt {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.logo_edt > img {
    width: 150px;
}


.wlcm {
    color: #fff;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
     margin: 10px 0;
}
.wlcm::before {
    border-bottom: 1px solid #f142ca;
    border-top: 1px solid #f142ca;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 40px;
}

.wlcm::after {
    border-bottom: 1px solid #f142ca;
    border-top: 1px solid #f142ca;
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    top: 6px;
    width: 40px;
}


.or {
    color: #fff;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
.or::before  {
    border-bottom: 1px dotted #fff;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 105px;
}
.or::after {
    border-bottom: 1px dotted #fff;
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    top: 8px;
    width: 105px;
}

.item-ios {
    background-color: transparent;
}

.list-md .item-block .item-inner {
    border-bottom: 0 solid #dedede;
    padding-right: 0;
}

.list-ios .item-block .item-inner {
    border-bottom: 0px solid #c8c7cc;
    padding-right: 0;
}

.login{position:relative; border-bottom: 0.55px solid rgba(255, 255, 255, 0.4);color:#fff;padding-left: 0;margin-bottom: 10px;}

.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 0px;
}

.login .icon.icon-md.ion-md-checkmark-circle-outline.item-icon{
    border: 0 none;
    padding-right: 0;
    margin-right: 0;
}

.login .icon.icon-ios.ion-ios-checkmark-circle-outline.item-icon{
    border: 0 none;
    padding-right: 0;
    margin-right: 0;
}

.login .icon.icon-md.item-icon {
        border-right: 0.55px solid rgba(255, 255, 255, 0.4);
    padding-right: 10px;
}

.list-ios {
    margin-bottom:15px;
}

.list-md .item-input:last-child {
    border-bottom: 0.55px solid rgba(255, 255, 255, 0.4);
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid rgba(255, 255, 255, 0.4);
}

.login .icon.icon-ios.item-icon {
     position: relative;
      border-right: 0.55px solid rgba(255, 255, 255, 0.4);
    padding-right: 10px;
}


.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc;
}



.text-input::-moz-placeholder {
    color: #fff;
}


.spacer {
    float: left;
    height: 25px;
    width: 100%;
}

.pink{color: #f142ca;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    }
  .alert {
    position: absolute;
    right: 0;
    bottom: -1px;
    z-index: 9999999;
    margin: 0;
    font-size: 12px;
    color: #f142ca !important;
}



}
