
<ion-header class="head" style="background: url(assets/images/gradient.png) no-repeat center fixed; 
  background-size: cover;">
  <ion-navbar>
    <ion-title>POST YOUR ADVERTISEMENT{{this.imgcheck}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#fff;">
   <!--<form #editform="ngForm" (ngSubmit)="onSubmit()" novalidate>-->

    <div class="camera_out">
    <div class="car" *ngIf = "this.picImag.length != 0">
      <ion-slides pager="true" disable-side-menu-drag="" loop="true" autoplay="true">
        <ion-slide *ngFor = "let slidecategory of this.picImag"   id="preferance-slide25">
          <img (click)="fullview(slidecategory)" [src]="slidecategory"/>
           <!--<img *ngIf = "this.picImag.length == 0" src="assets/images/car.png"/>-->
        </ion-slide>
      </ion-slides>
   </div>

   
   <ion-icon name="camera" class="cam" (click) = "openActionSheet()"></ion-icon>



<div class="car" *ngIf = "this.picImag.length == 0">
    <img src="assets/images/car.png" />
    <!--<img [src]="srcImage" />-->
  </div>
  <ion-icon name="camera" class="cam" (click) = "openActionSheet()"></ion-icon>
</div>

<div padding>



  <ion-item class="selng">
    <ion-icon name="logo-dropbox" item-start></ion-icon>
    <ion-input type="text" placeholder="What are you selling ?" maxlength="50" [(ngModel)]="selling" ></ion-input>
  </ion-item>

  <ion-item class="selng">
    <ion-icon name="document" item-start></ion-icon>
    <ion-textarea class="textarea_new" type="text" maxlength="150" placeholder="Describe your Item in brief"  [(ngModel)]="brief" ></ion-textarea>
    <!--<ion-input type="text" placeholder="Describe your Item in brief" [(ngModel)]="brief"></ion-input>-->
  </ion-item>




  <div class="price">
  <ion-item class="selng">
      <ion-icon name="pricetag" item-start style ="color :#fe42d4;"></ion-icon>
      <ion-input type="number" placeholder="Enter Your Price" [(ngModel)]="priceadv" ></ion-input>
    </ion-item>

</div>


<ion-list class="drp_cnt">
    <ion-item class="drp" style="border-right: 1px solid #fe42d4;">
      <ion-label>Select Category</ion-label>
      <ion-select [(ngModel)]="list_one" (ionChange)="val()" placeholder = "Select Category">
        <ion-option *ngFor="let categories of categorylist;" value="{{categories.id}}">{{categories.title}}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item class="drp">
      <!--<ion-select [(ngModel)]="gaming">
        <ion-label>LOCATION</ion-label>
         <ion-option value="ne" selected>LOCATION</ion-option>
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
      </ion-select>-->
            <ion-searchbar 
              [(ngModel)]="autocomplete.query" 
              [showCancelButton]="true" 
              (ionInput)="updateSearch()" 
              (ionCancel)="dismiss()"
              placeholder="Location ..."
              
              >
           </ion-searchbar>
          <ion-list>
              <ion-item *ngFor="let item of autocompleteItems" 
              (click)="chooseItem(item.description)">
              {{ item.description }}
              </ion-item>
          </ion-list>
    </ion-item>  
    
  
  
  </ion-list>

</div>





<ion-footer style="position:unset !important">
  <ion-toolbar>
    <ion-title><a style="color:#fff;" (click)="showAlert(selling,brief,priceadv)">POST ADVERTISEMENT</a></ion-title>
  </ion-toolbar>
</ion-footer>


</ion-content>


